@charset "utf-8";
/* CSS Document */

*{margin:0; padding:0}


body{ background:#f7f7f7;margin:0; color:#7a797e; padding:0; position:relative; line-height:1.5em; text-align:left }
#main_width{width:1000px; height:auto; background:#fff; margin:0px auto ; padding:150px 0px}



.clearfix {
     visibility: hidden;
     font-size: 0;
     content: "";
     clear: both;
     height: 0;
	 overflow:hidden;
	 overflow-y:hidden;
     }
	 
	 
.top{ background:#fffdfa; margin:0; padding:0; position:fixed; width:100%; z-index:1;  }

.logo_pos{margin:0px auto; width:1000px; padding:10px 0px 0px 10px; background:#fffdfa; height:100px }






a{text-decoration:none; color:#333333; text-decoration:underline; }
a:hover{color:#990000;}
.frame{width:310px; height:220px;margin:10px 0px; z-index:-1}

strong{color:#616161}
h1{font-family:"Trebuchet MS";  font-size:18px; color:#333333; padding:10px 10px 10px 10px; text-transform:uppercase; } 
h4{font-family:"Trebuchet MS";  font-size:14px; color:#cd5927; padding:10px 10px 10px 10px;}
ul{margin:10px 20px}
li{list-style:none;  margin:0px 20px; padding:0px 0px; list-style-image:url(../images/arrow_round.png)}
i{color:#0088ac}
p{padding:10px 10px}








